# Heroes Of Pymoli Data Analysis

* The analysis shows that, vast majority of active players are Male(84%).There also exists, a smaller, but notable proportion of female players (14%).\
So, we can conclude that males are more inclined to play fantasy games than female.


* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
source_file = "Resources_HeroesOfPymoli/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(source_file)

## Player Count

* Total Number of Players

In [2]:
total_players = len(purchase_data["SN"].unique())

#total_players

summary_total_players = pd.DataFrame({"Total Player": [total_players]})
summary_total_players

   Total Player
0           576

## Purchasing Analysis (Total)

In [3]:
# Number of Unique Items
total_unique_items = len(purchase_data["Item ID"].unique())

# Average Purchase Price
ave_price = round(purchase_data["Price"].mean(),2)

# Total Number of Purchases
total_purchases = len(purchase_data["Price"])


# Total Revenue
total_revenue = purchase_data["Price"].sum()



summary_purchasing_analysis = pd.DataFrame({"Number of Unique Items": [total_unique_items],
                                            "Average Price": "$"+str(ave_price),
                                            "Number of Purchases": [total_purchases],
                                            "Total Revenue": (total_revenue)})

summary_purchasing_analysis.style.format({"Total Revenue":"${:,.2f}"})

## Gender Demographics

In [4]:
# Percentage and Count of Male, Female & Other / Non-Disclosed Players

gender_group = purchase_data.groupby("Gender")


count_of_players = gender_group.nunique()["SN"]


percent_of_players = round((count_of_players/total_players) * 100, 2)



summary_gender_demographics = pd.DataFrame({"Total Count": (count_of_players), 
                                            "Percentage of Players": (percent_of_players) })

summary_gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})

## Purchasing Analysis (Gender)

In [5]:
#The below each broken by gender
gender_group = purchase_data.groupby(["Gender"])



    # Purchase Count
gen_pur_count = gender_group["Price"].count()
#pur_count.head()


    # Average Purchase Price
gen_ave_pur_price = round(gender_group["Price"].mean(),2)

   
    # Total Purchase Value
gen_total_pur_value = gender_group["Price"].sum()

    
    # Average Purchase Total per Person by Gender 
ave_pur_per_person = gen_total_pur_value/summary_gender_demographics["Total Count"]




summary_gen_pur_analysis = pd.DataFrame({"Purchase Count": gen_pur_count,
                                         "Average Purchase Price": gen_ave_pur_price,
                                         "Total Purchase Value": gen_total_pur_value,
                                         "Avg Total Purchase per Person": ave_pur_per_person})

summary_gen_pur_analysis.style.format({"Average Purchase Price":"${:.2f}",
                                        "Total Purchase Value":"${:,.2f}",
                                        "Avg Total Purchase per Person":"${:,.2f}"})

## Age Demographics

In [6]:
# Figure out the minimum and maximum values for Age column

print(purchase_data["Age"].min())
print(purchase_data["Age"].max())

7
45

In [16]:
# Create bins in which to place values based upon Age column
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]

# Create labels for these bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [17]:
# Place the data series into a new column inside of the DataFrame
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels = group_labels)
#purchase_data

In [18]:
# Create a GroupBy object based upon "Age Group"
age_group = purchase_data.groupby("Age Group")

#age_group.head()

## Purchasing Analysis (Age)

In [32]:
# Purchase Count
age_pur_count = age_group["Price"].count()
# age_pur_count

# Average Purchase Price
age_ave_pur_price = round(age_group["Price"].mean(),2)
# age_ave_pur_price

# Total Purchase Value
age_total_pur_value = age_group["Price"].sum()

# Average Purchase Total per Person by Age Group
age_ave_pur_per_person = age_total_pur_value / purchase_data["Age"].count()



summary_age_pur_analysis = pd.DataFrame({"Purchase Count": age_pur_count,
                                         "Average Purchase Price": age_ave_pur_price,
                                         "Total Purchase Value": age_total_pur_value,
                                         "Avg Total Purchase per Person": age_ave_pur_per_person})
    
summary_age_pur_analysis.style.format({"Average Purchase Price": "${:,.2f}",
                                       "Total Purchase Value": "${:,.2f}",
                                       "Avg Total Purchase per Person": "${:,.2f}"})

In [37]:
# Find how many players fall into each bin
playersCount_by_ageGroup = age_group["SN"].nunique()


playersPercent_by_ageGroup = (playersCount_by_ageGroup / total_players) * 100



summary_age_demograph = pd.DataFrame({"Total Count": playersCount_by_ageGroup,
                                         "Percentage of Players": playersPercent_by_ageGroup})
summary_age_demograph.style.format({"Percentage of Players":"{:.2f}%"})

## Top Spenders

In [21]:

uni_players_total_pur = (purchase_data.groupby(["SN"]).sum()["Price"])
# uni_players_total_pur.dtypes


uni_players_pur_count = (purchase_data.groupby(["SN"]).count()["Price"])
# uni_players_pur_count.head()


uni_players_ave_pur = uni_players_total_pur / uni_players_pur_count
# uni_players_ave_pur




summary_top_spenders = pd.DataFrame({"Purchase Count": uni_players_pur_count,
                                     "Average Purchase Price": uni_players_ave_pur,
                                     "Total Purchase Value": uni_players_total_pur})

#--------------------------------------------------------------------------------------------
top_spenders = summary_top_spenders.sort_values("Total Purchase Value", ascending=False).head()




#-----------------------------------------------------------
top_spenders.style.format({"Average Purchase Price":"${:,.2f}",
                           "Total Purchase Value":"${:,.2f}"})
#------------------------------------------------------------

## Most Popular Items

In [13]:
items = purchase_data[["Item ID", "Item Name", "Price"]]

items_id = items.groupby(["Item ID", "Item Name"])



items_purchase_count = items_id["Price"].count()


items_total_purchase_value = items_id["Price"].sum()


# individual item price
item_price = items_total_purchase_value / items_purchase_count




summary_popular_items = pd.DataFrame({"Purchase Count": items_purchase_count, 
                                      "Item Price": item_price,
                                      "Total Purchase Value": items_total_purchase_value})




popular_items = summary_popular_items.sort_values(["Purchase Count"], ascending=False).head()


popular_items.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

In [14]:
popular_items = summary_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()

popular_items.style.format({"Item Price":"${:,.2f}",
                            "Total Purchase Value":"${:,.2f}"})