# Heroes Of Pymoli Data Analysis

* The analysis shows that, vast majority of active players are Male(84%).There also exists, a smaller, but notable proportion of female players (14%).\
So, we can conclude that males are more inclined to play fantasy games than female.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
source_file = "Resources_HeroesOfPymoli/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(source_file)

## Player Count

* Total Number of Players

In [4]:
total_players = len(purchase_data["SN"].unique())

#total_players

summary_total_players = pd.DataFrame({"Total Player": [total_players]})
summary_total_players

   Total Player
0           576

## Purchasing Analysis (Total)

In [5]:
# Number of Unique Items
total_unique_items = len(purchase_data["Item ID"].unique())

# Average Purchase Price
ave_price = round(purchase_data["Price"].mean(),2)

# Total Number of Purchases
total_purchases = len(purchase_data["Price"])


# Total Revenue
total_revenue = purchase_data["Price"].sum()



summary_purchasing_analysis = pd.DataFrame({"Number of Unique Items": [total_unique_items],
                                            "Average Price": "$"+str(ave_price),
                                            "Number of Purchases": [total_purchases],
                                            "Total Revenue": (total_revenue)})

summary_purchasing_analysis.style.format({"Total Revenue":"${:,.2f}"})

## Gender Demographics

In [6]:
# Percentage and Count of Male, Female & Other / Non-Disclosed Players

gender_group = purchase_data.groupby("Gender")


count_of_players = gender_group.nunique()["SN"]


percent_of_players = round((count_of_players/total_players) * 100, 2)



summary_gender_demographics = pd.DataFrame({"Total Count": (count_of_players), 
                                            "Percentage of Players": (percent_of_players) })

summary_gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})

## Purchasing Analysis (Gender)

In [15]:
#The below each broken by gender
gender_group = purchase_data.groupby(["Gender"])



    # Purchase Count
gen_pur_count = gender_group["Price"].count()
#pur_count.head()


    # Average Purchase Price
gen_ave_pur_price = round(gender_group["Price"].mean(),2)

   
    # Total Purchase Value
gen_total_pur_value = gender_group["Price"].sum()

    
    # Average Purchase Total per Person by Gender 
ave_pur_per_person = gen_total_pur_value/summary_gender_demographics["Total Count"]




summary_gen_pur_analysis = pd.DataFrame({"Purchase Count": gen_pur_count,
                                         "Average Purchase Price": gen_ave_pur_price,
                                         "Total Purchase Value": gen_total_pur_value,
                                         "Avg Total Purchase per Person": ave_pur_per_person})

summary_gen_pur_analysis.style.format({"Average Purchase Price":"${:.2f}",
                                        "Total Purchase Value":"${:,.2f}",
                                        "Avg Total Purchase per Person":"${:,.2f}"})

## Age Demographics

In [16]:
# Figure out the minimum and maximum values for Age column

print(purchase_data["Age"].min())
print(purchase_data["Age"].max())

7
45

In [8]:
# Create bins in which to place values based upon Age column
bins = [6, 10, 14, 18, 22, 26, 30, 34, 38, 42, 46]

# Create labels for these bins
group_labels = ["7-10", "11-14", "15-18", "19-22", "23-26", "27-30", "31-34", "35-38", "39-42", "43+" ]

In [9]:
# Place the data series into a new column inside of the DataFrame
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels = group_labels)
#purchase_data

In [10]:
# Create a GroupBy object based upon "Age Group"
age_group = purchase_data.groupby("Age Group")

#age_group.head()

## Purchasing Analysis (Age)

In [11]:
# Purchase Count
age_pur_count = age_group["Price"].count()
# age_pur_count

# Average Purchase Price
age_ave_pur_price = round(age_group["Price"].mean(),2)
# age_ave_pur_price

# Total Purchase Value
age_total_pur_value = age_group["Price"].sum()
age_total_pur_value

# Average Purchase Total per Person by Age Group


summary_age_pur_analysis = pd.DataFrame({"Purchase Count": age_pur_count,
                                         "Average Purchase Price": age_ave_pur_price,
                                         "Total Purchase Value": age_total_pur_value})
                                         #"Avg Total Purchase per Person": })
summary_age_pur_analysis

           Purchase Count  Average Purchase Price  Total Purchase Value
Age Group
7-10                   32                    3.40                108.96
11-14                  19                    2.68                 50.95
15-18                 113                    3.03                342.91
19-22                 254                    3.04                771.89
23-26                 207                    3.06                634.24
27-30                  63                    2.88                181.23
31-34                  38                    2.73                103.68
35-38                  35                    3.55                124.35
39-42                  15                    3.37                 50.50
43+                     4                    2.76                 11.06

In [12]:
# Find how many players fall into each bin
playersCount_by_ageGroup = age_group["SN"].count()
# playersCount_by_ageGroup

playersPercent_by_ageGroup = round((playersCount_by_ageGroup/purchase_data["SN"].count()) * 100,2)
# print(str(playersPercent_by_ageGroup)+"%")


summary_age_demograph = pd.DataFrame({"Total Count": playersCount_by_ageGroup,
                                         "Percentage of Players": playersPercent_by_ageGroup})
summary_age_demograph

           Total Count  Percentage of Players
Age Group
7-10                32                   4.10
11-14               19                   2.44
15-18              113                  14.49
19-22              254                  32.56
23-26              207                  26.54
27-30               63                   8.08
31-34               38                   4.87
35-38               35                   4.49
39-42               15                   1.92
43+                  4                   0.51

## Top Spenders

In [13]:

uni_players_total_pur = (purchase_data.groupby(["SN"]).sum()["Price"])
# uni_players_total_pur.dtypes


uni_players_pur_count = (purchase_data.groupby(["SN"]).count()["Price"])
# uni_players_pur_count.head()


uni_players_ave_pur = uni_players_total_pur / uni_players_pur_count
# uni_players_ave_pur




summary_top_spenders = pd.DataFrame({"Purchase Count": uni_players_pur_count,
                                     "Average Purchase Price": uni_players_ave_pur,
                                     "Total Purchase Value": uni_players_total_pur})

#--------------------------------------------------------------------------------------------
top_spenders = summary_top_spenders.sort_values("Total Purchase Value", ascending=False).head()




#-----------------------------------------------------------
top_spenders.style.format({"Average Purchase Price":"${:,.2f}",
                           "Total Purchase Value":"${:,.2f}"})
#------------------------------------------------------------

## Most Popular Items

In [14]:
items = purchase_data[["Item ID", "Item Name", "Price"]]

items_id = items.groupby(["Item ID", "Item Name"])



items_purchase_count = items_id["Price"].count()


items_total_purchase_value = items_id["Price"].sum()


# individual item price
item_price = items_total_purchase_value / items_purchase_count




summary_popular_items = pd.DataFrame({"Purchase Count": items_purchase_count, 
                                      "Item Price": item_price,
                                      "Total Purchase Value": items_total_purchase_value})




popular_items = summary_popular_items.sort_values(["Purchase Count"], ascending=False).head()


popular_items.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

In [15]:
popular_items = summary_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()

popular_items.style.format({"Item Price":"${:,.2f}",
                            "Total Purchase Value":"${:,.2f}"})