In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
source_file = "Resources_HeroesOfPymoli/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(source_file)

## Player Count

* Display the total number of players

In [3]:
total_players = len(purchase_data["SN"].unique())

#total_players

summary_total_players = pd.DataFrame({"Total Player": [total_players]})
summary_total_players

   Total Player
0           576

## Purchasing Analysis (Total)

In [4]:
# Number of Unique Items
total_unique_items = len(purchase_data["Item ID"].unique())

# Average Purchase Price
ave_price = round(purchase_data["Price"].mean(),2)

# Total Number of Purchases
total_purchases = len(purchase_data["Price"])


# Total Revenue
total_revenue = purchase_data["Price"].sum()


summary_purchasing_analysis = pd.DataFrame({"Number of Unique Items": [total_unique_items],
                                            "Average Price": "$"+str(ave_price),
                                            "Number of Purchases": [total_purchases],
                                            "Total Revenue": "$"+str(total_revenue)})
summary_purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

In [5]:
# Percentage and Count of Male, Female & Other / Non-Disclosed Players

count_of_players = purchase_data["Gender"].value_counts()


percent_of_players = round((count_of_players/purchase_data["Gender"].count()) * 100, 2)



summary_gender_demo = pd.DataFrame({"Total Count": count_of_players, 
                                    "Percentage of Players": percent_of_players})
summary_gender_demo

                       Total Count  Percentage of Players
Male                           652                  83.59
Female                         113                  14.49
Other / Non-Disclosed           15                   1.92

## Purchasing Analysis (Gender)

In [6]:
#The below each broken by gender
gender_group = purchase_data.groupby(["Gender"])



    # Purchase Count
gen_pur_count = gender_group["Price"].count()
#pur_count.head()


    # Average Purchase Price
gen_ave_pur_price = round(gender_group["Price"].mean(),2)

   
    # Total Purchase Value
gen_total_pur_value = gender_group["Price"].sum()

    
    # Average Purchase Total per Person by Gender ???????????????????????????????????????
# ave_pur_per_person = gen_total_pur_value/gen_pur_count
# ave_pur_per_persone.head()
    

summary_gen_pur_analysis = pd.DataFrame({"Purchase Count": gen_pur_count,
                                         "Average Purchase Price": gen_ave_pur_price,
                                         "Total Purchase Value": gen_total_pur_value})
                                         #"Avg Total Purchase per Person": })
summary_gen_pur_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.20,361.94
Male,652,3.02,1967.64
Other / Non-Disclosed,15,3.35,50.19

## Age Demographics

In [7]:
# Figure out the minimum and maximum values for Age column

print(purchase_data["Age"].min())
print(purchase_data["Age"].max())

7
45

In [14]:
# Create bins in which to place values based upon Age column
bins = [6, 10, 14, 18, 22, 26, 30, 34, 38, 42, 46]

# Create labels for these bins
group_labels = ["7-10", "11-14", "15-18", "19-22", "23-26", "27-30", "31-34", "35-38", "39-42", "43+" ]

In [15]:
# Slice the data and place it into bins
#pd.cut(purchase_data["Age"], bins, labels = group_labels).head()

In [16]:
# Place the data series into a new column inside of the DataFrame
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels = group_labels)
#purchase_data

In [18]:
# Create a GroupBy object based upon "Age Group"
age_group = purchase_data.groupby("Age Group")

#age_group.head()

In [19]:
# Purchase Count
age_pur_count = age_group["Price"].count()
# age_pur_count

# Average Purchase Price
age_ave_pur_price = round(age_group["Price"].mean(),2)
# age_ave_pur_price

# Total Purchase Value
age_total_pur_value = age_group["Price"].sum()
age_total_pur_value

# Average Purchase Total per Person by Age Group


summary_age_demograph = pd.DataFrame({"Purchase Count": age_pur_count,
                                         "Average Purchase Price": age_ave_pur_price,
                                         "Total Purchase Value": age_total_pur_value})
                                         #"Avg Total Purchase per Person": })
summary_age_demograph

           Purchase Count  Average Purchase Price  Total Purchase Value
Age Group
7-10                   32                    3.40                108.96
11-14                  19                    2.68                 50.95
15-18                 113                    3.03                342.91
19-22                 254                    3.04                771.89
23-26                 207                    3.06                634.24
27-30                  63                    2.88                181.23
31-34                  38                    2.73                103.68
35-38                  35                    3.55                124.35
39-42                  15                    3.37                 50.50
43+                     4                    2.76                 11.06

In [20]:
# Find how many players fall into each bin
print(age_group["SN"].count())

Age Group
7-10      32
11-14     19
15-18    113
19-22    254
23-26    207
27-30     63
31-34     38
35-38     35
39-42     15
43+        4
Name: SN, dtype: int64