In [9]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
source_file = "Resources_HeroesOfPymoli/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(source_file)

## Player Count

* Display the total number of players

In [10]:
total_players = len(purchase_data["SN"].unique())

#total_players

summary_total_players = pd.DataFrame({"Total Player": [total_players]})
summary_total_players

   Total Player
0           576

## Purchasing Analysis (Total)

In [11]:
# Number of Unique Items
total_unique_items = len(purchase_data["Item ID"].unique())

# Average Purchase Price
ave_price = round(purchase_data["Price"].mean(),2)

# Total Number of Purchases
total_purchases = len(purchase_data["Price"])


# Total Revenue
total_revenue = purchase_data["Price"].sum()


summary_purchasing_analysis = pd.DataFrame({"Number of Unique Items": [total_unique_items],
                                            "Average Price": [ave_price],
                                            "Number of Purchases": [total_purchases],
                                            "Total Revenue": [total_revenue]})
summary_purchasing_analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

In [12]:
# Percentage and Count of Male, Female & Other / Non-Disclosed Players

count_of_players = purchase_data["Gender"].value_counts()


percent_of_players = round((count_of_players/purchase_data["Gender"].count()) * 100, 2)



summary_gender_demo = pd.DataFrame({"Total Count": count_of_players, 
                                    "Percentage of Players": percent_of_players})
summary_gender_demo

                       Total Count  Percentage of Players
Male                           652                  83.59
Female                         113                  14.49
Other / Non-Disclosed           15                   1.92

## Purchasing Analysis (Gender)

In [13]:
#The below each broken by gender
gender_group = purchase_data.groupby(["Gender"])



    # Purchase Count
gen_pur_count = gender_group["Price"].count()
#pur_count.head()


    # Average Purchase Price
gen_ave_pur_price = round(gender_group["Price"].mean(),2)

   
    # Total Purchase Value
gen_total_pur_value = gender_group["Price"].sum()

    
    # Average Purchase Total per Person by Gender ???????????????????????????????????????
# ave_pur_per_person = gen_total_pur_value/gen_pur_count
# ave_pur_per_persone.head()
    

summary_gen_pur_analysis = pd.DataFrame({"Purchase Count": gen_pur_count,
                                         "Average Purchase Price": gen_ave_pur_price,
                                         "Total Purchase Value": gen_total_pur_value})
                                         #"Avg Total Purchase per Person": })
summary_gen_pur_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.20,361.94
Male,652,3.02,1967.64
Other / Non-Disclosed,15,3.35,50.19

## Age Demographics